body 
{
    background-color: whitesmoke;
    margin: 0%;
    padding: 0%;
}

h1{
    font-family: Helvetica;
    font-size: 60px;
    transition: .9s;
}

p{
    margin-left: 5px;
    padding: 0%;
    font-family: Helvetica;
    font-size: 25px;
    transition: .45s;
}

.center{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.flex{
    display: flex;
}

input[type=""]

input[type="file"]{
    margin: 0%;
    padding: 0%;
    margin-left: auto;
    margin-right: auto;

}

.SettingHolder{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    border-style:groove;
    border-width: 5px;
    border-color: grey;
}

.SettingHolder p{
    margin-top: 5px;
    margin-bottom: 20px;
}

.SecondInput{
    margin-right: 10px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0%;
    width: 60px;
    height: 40px;
    text-align: center;
}

label{
    font-family: Helvetica;
    font-size: 20px;
}

select{
    font-family: Helvetica;
    font-size: 20px; 
}

option{
    font-family: Helvetica;
    font-size: 20px;
}

button{
    margin: 0%;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: rgb(187, 177, 177);
}

textarea{
    width: 80%;
    height: 500px;
    font-size: 25px;
    font-family: Helvetica;
}